@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* This file contains the base style for the site pages */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

/* Styles for elemnts that are commons between different pages */
.purple-button {
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  padding: 10px;
  height: 50px;
  width: auto;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  outline: none;
  text-align: center;
  border: 0;
}

footer {
  background-color: black;
  padding: 15px 10px;
}

.ftr-title {
  padding-left: 20px;
  color: white;
}

.ftr-content {
  list-style: none;
  padding-left: 20px;
}
.ftr-content a {
  text-decoration: none;
  line-height: 30px;
  color: white;
}

.ftr-icon {
  color: white;
  padding: 5px;
}

header {
  text-align: center;
  padding: 10px;
}

.logo {
  height: 30px;
  text-align: center;
}

.explore {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 16px 0;
  font-size: 16px;
  background-color: #e5e5e5;
  font-weight: bold;
}

#hero-section {
  text-align: center;
  background-color: #f2f2f2;
  margin: 0%;
  padding: 27px 30px 58px 30px;
}
#hero-section h2 {
  font-size: 30px;
}
#hero-section .purple-button {
  padding: 20px;
}

.desc {
  font-size: 20px;
  padding: 30px 0 32px 0;
}

.instructions {
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.instruction-btns {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.instruction-btns button {
  border: 20px;
  background-color: #f2f2f2;
  padding: 22px;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
}
.instruction-btns button:hover {
  background-color: #e4d5f6;
}

.phone {
  padding: 0 10px;
  color: #808080;
}

.list {
  padding: 0 10px;
  color: #808080;
}

.store {
  padding: 0 10px;
  color: #808080;
}

.cards {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  cursor: pointer;
  margin: 18px 0;
}

a {
  text-decoration: none;
  color: black;
}

.card-content {
  padding: 15px;
  display: grid;
  grid-template-columns: auto 50px;
}
.card-content .cards-title {
  font-size: 18px;
  margin: 0;
  font-family: roboto;
}
.card-content .city {
  font-size: 16px;
  margin: 5px 0;
}
.card-content span {
  position: relative;
}
.card-content span:hover .far {
  visibility: hidden;
}
.card-content span:hover .fas {
  visibility: visible;
}
.card-content span .fas {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-content span span {
  width: 16px;
  height: 17px;
}

.restaurant {
  padding: 20px;
  background-color: #f2f2f2;
}

.restaurant-img {
  display: block;
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

header {
  text-align: center;
  padding: 10px;
  position: relative;
}
header a {
  position: absolute;
  padding: 3px 10px;
  left: 10px;
  top: 15px;
}

.img {
  height: 250px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  background-color: #f2f2f2;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 15px;
}
.card .card-title {
  font-family: Shrikhand;
  padding: 20px 20px 0 10px;
  font-size: 35px;
  margin: 0;
}

.title {
  display: flex;
  justify-content: space-between;
}
.title .icon {
  margin-top: 25px;
  font-size: 30px;
}
.title span {
  position: relative;
}
.title span:hover .far {
  visibility: hidden;
}
.title span:hover .fas {
  visibility: visible;
}
.title span .fas {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
section h2 {
  font-size: large;
  font-family: Roboto;
  margin: 40px 0px 20px 5px;
  font-weight: normal;
  margin-bottom: -10px;
}
section hr.section-underline {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  border: none;
  margin: 0;
  margin-left: 5px;
}
section h3 {
  padding: 0%;
  margin: 0%;
}
section p {
  padding: 5px 0px;
  margin: 0%;
  display: inline-block;
}
section .price {
  font-weight: bold;
  width: 40px;
}
section .menu-card {
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
section .section-desc {
  width: auto;
}
section .menu-card-1 {
  animation: menu-card 0.7s ease-out;
}
section .menu-card-2 {
  animation: menu-card 0.8s ease-out;
}
section .menu-card-3 {
  animation: menu-card 0.9s ease-out;
}
section .menu-card-4 {
  animation: menu-card 1s ease-out;
}
@keyframes menu-card {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0px, -10px);
  }
}
section .green-btn {
  position: absolute;
  color: white;
  background-color: #99E2D0;
  visibility: visible;
}
section .green-btn:hover {
  visibility: visible;
}
section .green-btn:hover .fa-check-circle {
  transition: 1s;
  transform: rotateZ(360deg);
}

.order-btn {
  text-align: center;
  margin: 48px 0 80px 0;
}
.order-btn .purple-button {
  padding: 17px 70px;
}

/*# sourceMappingURL=stylesheet.css.map */
