header {
    text-align: center;
    padding: 10px;
    position: relative;

    a {
      position: absolute;
      padding: 3px 10px;
      left: 10px;
      top: 15px;
    }
}

.img {
    height: 250px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.card {
    background-color: #f2f2f2;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 15px;

  .card-title {
      font-family: Shrikhand;
      padding: 20px 20px 0 10px;
      font-size: 35px;
      margin: 0;
  }

}

.title {
    display: flex;
    justify-content: space-between;

  .icon {
      margin-top: 25px;
      font-size: 30px;
  }

  span {
    position: relative;

    &:hover {
      .far {
        visibility: hidden;
      }

      .fas {
        visibility: visible;
      }
    }
  
  .fas {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  }
}

section {
    display: flex;
    flex-direction: column;
    gap: 14px;

  h2 {
    font-size: large;
    font-family: Roboto;
    margin: 40px 0px 20px 5px;
    font-weight: normal;
    margin-bottom: -10px;
    // text-decoration: underline solid 5px #99E2D0;
  }

  hr.section-underline {
    width: 40px;
    height: 3px;
    background-color: #99E2D0;
    border: none;
    margin: 0;
    margin-left: 5px;
  }

  h3 {
    padding: 0%;
    margin: 0%;
  }

  p {
      // padding: 5px 0px;
      margin: 0%;
  }

  .section-desc {
    padding: 10px;
  }

  .price {
      font-weight: bold;
      width: 40px;
      padding: 10px;
  }

  .price-container {
    display: flex;
    flex-direction: row;
  }

  .menu-card {
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    // padding: 10px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      .green-btn {
        width: 60px;
        animation-duration: 1s;
      }
      .fa-check-circle {
        transition: 0.5s;
        transform: rotateZ(360deg);
      }
    }

    @keyframes green-btn {
      0% {
        transform: translate(0, 0);    
      }

      50% {
        transform: translate(-30px, 0px);
      }

      100% {
        transform: translate(-60px, 0px);
      }
    }
  }

  .menu-card-1 {
    animation: menu-card 0.7s ease-out;
  }

  .menu-card-2 {
    animation: menu-card 0.8s ease-out;
  }

  .menu-card-3 {
    animation: menu-card 0.9s ease-out;
  }

  .menu-card-4 {
    animation: menu-card 1s ease-out;
  }

  @keyframes menu-card {
    0% {
      transform: translate(0, 0);    
    }
    100% {
      transform: translate(0px, -10px);
    }
  }

  .green-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 0;
    color: white;
    background-color: #99E2D0;
    padding: 0;
  }
}

.order-btn {
    text-align: center;
    margin: 48px 0 80px 0;

  .purple-button {
      padding: 17px 70px;
    }
}
